{{#each errors}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h3>Cadastro: </h3>
<div class="card">
  <main class="card-body">
    <form action="/cad/nova" method="POST">
      <label form="nome">Nome: </label>
      <input type="text" id="nome" name="nome" placeholder="Nome" class="form-control">
      <label form="senha">Senha: </label>
      <input type="password" id="senha" name="senha" placeholder="Senha" class="form-control">
      <br>
      <button type="submit" class="btn btn-success">criar cadastro</button>
    </form>
  </main>
</div>